<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{data:data}); %>

<body class="container">
<%- include('../partials/navbar.ejs'); %>
<div style="background: url(https://i.pinimg.com/originals/07/03/6e/07036e12e9ca047f542437befa8872d3.jpg)" class="jumbotron bg-cover text-white">
    <%- include('../partials/landing.ejs',{data:data}); %>
</div>
<div class="content">
 
        
</div>
<p> Things</p>
<%- include('../partials/footer.ejs'); %> 

</body>
</html>